@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  font-size: 62.5%; /* 10px = 1rem */

  --primary-color: hsl(170, 100%, 26%);
  --gray-headline: hsl(210, 11%, 15%);
  --gray-paragraph: hsl(210, 9%, 31%);
  --background-header: hsl(148, 23%, 89%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-green-light: hsl(148, 23%, 89%);
  --font-family: 'DM Sans', sans-serif;
  --nav-height: 7.2rem;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem; /* Resetando o documento inteiro para padrão com 1rem = 10px  */
  text-align: center;

  overflow: overlay;
}
/*========================= Tamanhos ======================================= */
.whapper {
  width: 37.5rem;
  margin-inline: auto;
}
ul {
  list-style: none;
}
/*========================= Header ======================================= */
header {
  margin-top: calc(4.1rem + var(--nav-height));
}

header::before {
  content: '';
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--background-header);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

h4 {
  color: var(--primary-color);
  line-height: 150%;
  font-size: 1.4rem;
}

h1 {
  color: var(--gray-headline);
  line-height: 130%;
  font-size: 3.4rem;
  margin-top: 1.6rem;
}

.information {
  color: var(--gray-paragraph);
  font-size: 1.8rem;
  line-height: 150%;
  margin-top: 2.4rem;
}

.whatsapp {
  background: var(--primary-color);

  border: none;
  border-radius: 4rem;
  height: 6.2rem;
  width: 26.3rem;

  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  margin-inline: auto;
  margin-top: 3.2rem;
  margin-bottom: 6rem;
}

.female {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

.status {
  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto;

  border: 1px solid var(--brand-green-light);
  border-radius: 0.6rem;
  background-color: var(--brand-beige);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

.stat h3 {
  color: var(--gray-headline);
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 0.4rem;
}

.stat p {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
}
/*========================= Navegação ======================================= */
nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
}

nav img {
  margin-inline: 2.4rem;
}

nav .whapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.scroll {
  background-color: var(--primary-color);
  width: 100vw;
}

nav.scroll svg:nth-child(1) path {
  fill: white;
}

nav.scroll button path {
  stroke: white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}
/*========================= Menu-Expanded ======================================= */
body.menu-expanded {
  overflow: hidden;
}
/* ele faz todos desaparecer, exceto o selecionado */
body.menu-expanded > :not(nav) {
  display: none;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 1;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);
}

body.menu-expanded nav {
  position: relative;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: #ffffff;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu .button {
  background: white;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color);

  display: inline-block;
  padding: 16px 32px;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 10;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}
